.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  active: none;
}

.btnhov {
  background:  #000;
  color: #fff;
  transition: 0.2s linear ease-in-out;
  animation-duration: 0.2s;

}
.btnhov:hover {
  background:  #fff;
  color:  #000;
  transition: 0.2s linear ease-in-out;

}